  .ramaraja {
    font-family: "Ramaraja", serif;
    font-weight: 400;
    font-style: normal;
  }
  body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #1B0A42;
  }
  .title {
    max-width: 495px;
    width: 100%;
    margin-top: 203px;
    margin-left: 200px;
    font-style: normal;
    font-weight: normal;
  
    font-size: 72px;
    line-height: 76px;
  }

  .info {
    max-width: 590px;
    width: 100%;
    font-style: normal;
    font-weight: normal;
    margin-top: 10px;
    margin-left: 200px;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #9a9a9a;
  }

  .nav-header {
    display: flex;
    height: 60px;
  }
  .logo {
    font-size: 30px;
    margin-block: 0px;
    width: 100px;
  }

  .logo-dot {
    color: #824FF1;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .nav-buttons {
    display: flex;
    list-style-type: none;
    margin-block: 0px;
    margin-inline: 0px;
    padding-inline: 0px;
    gap: 35px;
    width: 70%;
  }

  li {
    cursor: pointer;
  }
  li:hover {
    text-decoration: underline;
  }

  .sign {
    text-decoration: none;
    font-size: 16px;
    width: 120px;
    border-radius: 6px;
    padding: 15px;
  }
  .sign-up {
    text-decoration: none;
    font-size: 16px;
    width: 120px;
    border-radius: 6px;
    padding: 15px;
    background-color:#824FF1;
    color:white;
    width: 120px;
    height: 60px;
    border-radius: 6px;
  }

  .btn {
    position: absolute;
    width: 152px;
    height: 64px;
    left: 200px;
    border: 0px none;
    background-color: #824FF1;
    border-radius: 6px;

    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;

    cursor: pointer;
  }

  .img {
    position: absolute;
    top: 138px;
    left: 856px;
    height: 700px;
    width: 658px;
  }

  .kus {
    position: absolute;
    top: 226px;
    left: 785px;
    height: 700px;
    width: 821px;
  }